<header class="p-3 bg-dark text-white align-items-center justify-content-center">
    <div class="encabezado">
      <div class="d-flex flex-wrap align-items-center justify-content-between">   
        <div>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
            <li class="nav-link px-2 text-white"><img src="./assets/Icons/terminal.svg" alt="Bootstrap" width="30" height="30" style="margin-top:-2px;margin-right:5px">  Argentina Programa - #YoProgramo</li>
          </ul>   
        </div> 
        <div class="text-end">
          <button type="button" onclick="var win = window.open('https://www.instagram.com/juanbe6/'); win.focus();" class="btn-redes"><img src="./assets/Icons/instagram.svg" alt="instagram" width="20" height="20"></button>
          <button type="button" onclick="var win = window.open('https://www.facebook.com/juanyto55');win.focus();" class="btn-redes"><img src="./assets/Icons/facebook.svg" alt="Facebook" width="20" height="20"></button>
          <button type="button" onclick="var win = window.open('https://www.linkedin.com/in/juan-bustos-91341b186/');win.focus();" class="btn-redes"><img src="./assets/Icons/linkedin.svg" alt="Linkedin" width="20" height="20"></button>
          <button type="button" class="btn btn-warning" style="margin-left: 50px;">Login</button>
        </div>
      </div>
    </div>
  </header>

